@import "../../generalStyle";

@import "../../generalStyle";

.roadmap_utility {
  padding: 80px 0;
  background-image: url("../../../../public/images/missionLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40% auto;
  position: relative;

  .roadmap_utility_contaienr {
    width: 77%;
    margin: auto;

    @media (max-width: 1060px) {
      width: 90%;
    }

    h1 {
      @include textStyle(30px, 600, "Playfair Display", 36px, 0, black, capitalize);
      margin: 0;
      padding: 30px 0;
      text-align: center;
    }

    p {
      @include textStyle(16px, 400, "Montserrat", 40px, 0, black, capitalize);

      @media (max-width: 700px) {
        line-height: 24px;
      }

      .long_tern {
        text-align: center;
        font-weight: bold;
      }
    }
  }

  .shade {
    background: rgb(90, 85, 139);
    background: radial-gradient(circle, rgba(90, 85, 139, 0.4990371148459384) 00%, rgba(90, 85, 139, 0) 70%);
    width: 260px;
    height: 260px;
    position: absolute;
    opacity: 0.6;

    &.leftShade {
      top: -100px;
      left: -130.5px;
    }

    &.rightShade {
      bottom: 40px;
      right: -130.5px;

      @media (max-width: 600px) {
        bottom: -90px;
      }
    }
  }

  @import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
  @import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");
  @import url("https://fonts.googleapis.com/css?family=Cabin:700");



  @media (max-width: 768px) {
    section {
      padding-top: 10px;
    }
  }

  a {
    transition: all 0.2s ease-in-out;
    color: #552FB9;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    color: #00302c;
  }

  .sectionHeading {
    margin-bottom: 20px;
    color: #552FB9;
  }

  ::-moz-selection {
    background: #fcfcfc;
    background: rgba(224, 224, 224, 0.2);
    text-shadow: none;
  }

  ::selection {
    background: #fcfcfc;
    background: rgba(224, 224, 224, 0.2);
    text-shadow: none;
  }

  img::-moz-selection {
    background: transparent;
  }

  img::selection {
    background: transparent;
  }

  img::-moz-selection {
    background: transparent;
  }

  .shadow-nohover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }

  @-webkit-keyframes animatop {
    0% {
      opacity: 0;
      bottom: -500px;
    }

    100% {
      opacity: 1;
      bottom: 0px;
    }
  }

  @keyframes animatop {
    0% {
      opacity: 0;
      bottom: -500px;
    }

    100% {
      opacity: 1;
      bottom: 0px;
    }
  }

  @-webkit-keyframes rotatemagic {
    0% {
      opacity: 0;
      transform: rotate(0deg);
      top: -24px;
      left: -253px;
    }

    100% {
      transform: rotate(-30deg);
      top: -24px;
      left: -78px;
    }
  }

  @keyframes rotatemagic {
    0% {
      opacity: 0;
      transform: rotate(0deg);
      top: -24px;
      left: -253px;
    }

    100% {
      transform: rotate(-30deg);
      top: -24px;
      left: -78px;
    }
  }

  h3 {
    margin: 20px 0;
  }

  .experience {
    border-left: 3px solid #552FB9;
    padding: 0 30px;
    margin-left: 185px;
  }

  @media (max-width: 767px) {
    .experience {
      margin-left: 0;
      padding-right: 0;
    }
  }

  .experience .item {
    position: relative;
    margin-bottom: 40px;

    li {
      @include textStyle(16px, 400, "Montserrat", 40px, 0, black, initial);

      @media (max-width: 700px) {
        line-height: 24px;
      }
    }
  }

  .experience .item::before {
    content: "";
    position: absolute;
    left: -43px;
    top: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #552FB9;
  }

  .experience .item::after {
    content: "";
    content: "";
    position: absolute;
    left: -40px;
    top: 3px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #552FB9;
  }

  .experience .company-name {
    @include textStyle(16px, 400, "Montserrat", 40px, 0, black, capitalize);
    font-weight: bold;
    @media (max-width: 700px) {
      line-height: 24px;
    }

  }

  .experience .location {
    position: absolute;
    right: 0;
    top: 2px;
  }

  .experience .location .fa {
    margin-right: 8px;
  }

  .experience .job-info {
    position: absolute;
    left: -185px;
    top: 0;
  }

  .experience .job-info .title {
    color: #552FB9;
  }

  @media (max-width: 767px) {
    .experience .job-info {
      position: static;
      margin-bottom: 1rem;
    }
  }
}