@import "../../generalStyle";

.footer_section {
  background-color: black;
  .footer_wrapper {
    width: 90%;
    margin: auto;
    .footer_links {
      padding: 40px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .inner_footer_links{
        @media screen and (max-width: 600px) {
            width: 100%;
        }
      }
      div {
        p {
          @include textStyle(14px, 400, "Montserrat", 22px, 0, white, initial);
          a {
            color: white;
            text-decoration: none;
          }
        }
        .heading {
          font-size: 18px;
          font-weight: 600;
        }
        .textWithIcons {
          display: flex;
          align-items: center;
          img {
            margin-right: 12px;
          }
        }
      }
    }
    .social_icons{
      display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    }
    .footer_hr {
      background-color: #9d73ee;
      margin-top: 50px;
      height: 1px;
      opacity: 0.3;
    }
    .footer_copyright {
      @include textStyle(14px, 300, "Montserrat", 30px, 0, white, initial);
      text-align: center;
      margin-bottom: 0;
    }
  }
}
